<div class="card">
  <div class="card-header" (showRating)="onShowRating($event)">
    {{ showThisRating }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="listFilter" />
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-light" *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleShowImage()">
                {{ showImage ? "hide" : "show" }} image
              </button>
            </th>

            <th>Product Name</th>
            <th>Release Date</th>
            <th>Price</th>
            <th>Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>
              <img
                src="{{ product.imageUrl }}"
                alt="{{ product.productName }}"
                style="width: 50px;"
                *ngIf="showImage"
              />
            </td>

            <td>
              {{ product.productName }}
            </td>
            <td>
              {{ product.releaseDate }}
            </td>
            <td>
              {{ product.price }}
            </td>
            <td>
              <pm-star
                rating="{{ product.starRating }}"
                productName="{{ product.productName }}"
                (notify)="onNotify($event)"
              ></pm-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
