<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        
        <h4>Filtered by:</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-light" >
        <thead>
          <tr>
            <th><button class="btn btn-primary"></button></th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Release Date</th>
            <th>Price</th>
            <th>Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              {{ product.imageUrl }}
            </td>
            <td>
              {{ product.productName }}
            </td>
            <td>
              {{ product.releaseDate }}
            </td>
            <td>
              {{ product.price }}
            </td>
            <td>
              {{ product.starRating }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
