<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped table-hover " *ngIf="products && products.length">
      <thead>
        <tr>
          <button class="btn btn-primary" (click)="toggleImage()"> {{showImage ? "Hide" : "Show"}} Image</button>
          <th>Product Name</th>
          <th>Release Date</th>
          <th>Price</th>
          <th>Star Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>leaf</td>
          <td>leaf</td>
          <td>leaf</td>
          <td>leaf</td>
        </tr>
        <tr>
            <td></td>
            <td>leaf</td>
            <td>leaf</td>
            <td>leaf</td>
            <td>leaf</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
